/* ----- BODY ----- */
@font-face{
    font-family: 'GeneralSans';
    src: url(./fonte/GeneralSans-Variable.ttf) format('truetype');
}

*{
    font-family: 'GeneralSans';
    padding: 0;
    margin: 0;
}

body{
    background-color: #111111;
    
}
/* ----- BODY ----- */

/* ----- HEADER ----- */
.container {
        margin-left: 18%;
        margin-right: 18%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0.10rem;
        grid-row-gap: 0.10rem;    
}

#menu{
    color: white;
    text-align: right;

    margin-top: 75px;
}

#logo{
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#logo img{
    animation: rotate 5s infinite linear;
}

@keyframes rotate{
    to{transform: rotate(360deg)}
}

#menu ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

#menu li{
    display: inline-block;

    padding-left: 36px;
}

#menu-li01{
    font-weight: 700;
    line-height: 23.04px; /* 192% */
    letter-spacing: 0.432px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

#menu a{
    text-decoration: none;
    color: #FFF;
    text-align: right;
    font-size: 10px;
    font-style: normal;
    line-height: 23.04px; /* 177.231% */
    letter-spacing: 0.432px;
    text-transform: uppercase;
}
/* ----- HEADER ----- */

/* ----- BLOCO 01 ----- */
#bloco01 {
    margin-left: 18%;
    margin-right: 18%;

    text-align: center;
    margin-top: 28px;
}

#bloco01 h1{
    padding: 0;
    margin: 0;

    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 110.811% */
    text-transform: uppercase;
}

#bloco01 p{
    margin-top: 10px;

    color: #696969;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 114.286% */
}
/* ----- BLOCO 01 ----- */

/* ----- BLOCO 02 ----- */
#bloco02{
    margin-left: 18%;
    margin-right: 18%;

    text-align: center;
    margin-top: 120px;
    margin-bottom: 130px;
    padding: 0;
}

.titulos-blocos{
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 84.211% */
    text-transform: uppercase;
}

#seta-blocos{
    padding-left: 20px;

    width: 23px;
    height: 23px;
}

#projetos-bloco02{
    margin-top: 26px;
}

.container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0.10rem;
    grid-row-gap: 0.10rem;
}

.imagens-bloco02{
    padding: 0 8px;
    margin-top: 14px;
}

.infos-bloco02{
    text-align: start;
    margin-top: 14px;
    padding-left: 8px;
}

.infos-bloco02 h2{
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 150.588% */
}

.infos-bloco02 p{
    color: #696969;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px; /* 148.099% */

}

.subtitulos-blocos{
    margin-top: 20px;

    color: #FFF;
    text-align: center;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 110.811% */
    text-transform: uppercase;
}

.subtitulos-blocos img{
    margin-left: 30px;
}
/* ----- BLOCO 02 ----- */

/* ----- BLOCO 03 ----- */
#bloco03 {
    margin-left: 14%;
    margin-right: 14%;
}

.text-blocos{
    margin-top: 26px;
    margin-left: 16%;
    margin-right: 16%;

    color: #696969;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 530;
    line-height: 24px; /* 148.099% */
}

#topic02-bloco03{
    margin-top: 60px;
}

.background-container {
    width: auto;
    height: auto;
    padding: 80px 0px 68px 0px;
    background-color: #1b1b1b;
    border-radius: 18px;   

    background-image: url('./imagens/logo-bg.svg');
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-size: 780px;
    background-position-y: 120px;
    
}

.cards-container {
    margin-left: 8%;
    margin-right: 8%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
}

.cards-bloco03{
    background-color: #111111;
    margin-top: 26px;    
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 16px;
    
    padding-left: 30px;
    padding-right: 30px;
}

.cards-bloco03 h1{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

.cards-bloco03 p{
    color: #696969;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 157.377% */

    margin-top: 23px;
    margin-bottom: 24px;
}

.cards-bloco03 button{
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    border-style: none;

    padding: 5px 13px;
}
/* ----- BLOCO 03 ----- */


/* ----- BLOCO RESPIRO ----- */
/* #bloco-respiro{
    overflow: hidden;

    display: flex;
    gap: 30px;
}

#bloco-respiro img{
    width: 330px;
} */

#bloco-respiro {
    background-image: url('./imagens/etty.svg');
    background-size: 370px;

    padding: 38px;
    margin-top: 130px;
    margin-bottom: 130px;
}

#bloco-respiro {
    animation: slide 3s infinite linear;
}

@keyframes slide{
    from{
        background-repeat: repeat-x;
        background-position-x: 0px;
    }

    to{
    background-position-x: -740px;
    }
}
/* ----- BLOCO RESPIRO ----- */

/* ----- BLOCO 04 ----- */
#foto-luiz {
    width: 470px;
}

.text-luiz{
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: left;

    color: #4E4D4D;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 155.556% */

}

#seta-titulo{
    padding-right: 16px;

    width: 23px;
    height: 23px;
}

.titulo-luiz{
    text-align: left;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 8px; /* 84.211% */
    text-transform: uppercase;
}

.container-luiz {
    display: flex;
    margin-left: 20.1%;
    margin-right: 20.1%;

    padding: 0;
}

#information-luiz {
    margin-left: 55px;
}

.icon-luiz {
    padding: 2px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 28px;
    flex-shrink: 0;

    background-color: #282828;
    border-radius: 5px;

    margin-right: 10px;
}

#container-icons {
    display: flex;
}

.icon-luiz img{
    width: 20px;
}

.icon-luiz a{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
/* ----- BLOCO 04 ----- */

/* ----- BLOCO 05 ----- */
.depoimento-cards{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.10rem;
    grid-row-gap: 0.10rem;
    align-items: center;
    position: absolute;

    gap: 16px;
    margin-left: 2%;
    margin-right: 2%;
}

#titulo-bloco05{
    position: relative;
    z-index: 1;
}

#bloco05 {
    margin-top: 130px;
    margin-bottom: 130px;
}

.depoimentos{
    background-color: #262626;
    border-radius: 14px;

    padding: 40px;
    margin-top: 26px;
}

.depoimentos h1{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 145.691% */
    text-transform: uppercase;

    margin-bottom: 8px;
}

.depoimentos p{
    color: #696969;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 157.377% */
}

.depoimentos span{
    color: #696969;
}

#setas-depoimento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 290px;
    position: relative;

    gap: 20px;
}

.fundo-depoimento {
    position: absolute;
    display: flex;
}

.bg-direito {
    position: absolute;
    right: 0%;
}

.bg-esquerdo {
    position: absolute;
    left: 0%;
}
/* ----- BLOCO 05 ----- */

/* ----- BLOCO 06 ----- */
.titulo-bloco06{
    text-align: center;
    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 84.211% */
    text-transform: uppercase;

}

#seta-bloco06{
    padding-left: 20px;

    width: 23px;
    height: 23px;
    fill: black;
}

#bloco06 {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;

    margin-bottom: 110px;
}

.duvidas-bloco06{
    color: #000;
    font-size: 23px;
    font-weight: 600;
    line-height: 38px; /* 146.154% */
    text-transform: uppercase;

    display: flex;
    gap: 20px;
}

.duvidas-frequentes{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;
    margin-top: 70px;
}

.barras-bloco06{
    background-color: #000;
    width: 70%;
    height: 2px;
    flex-shrink: 0;
    margin-left: 18%;
    margin-right: 18%;

    margin-top: 30px;
    margin-bottom: 30px;
}
/* ----- BLOCO 06 ----- */

/* ----- BLOCO 07 ----- */
#bloco07{
    margin-bottom: 130px;
}
/* ----- BLOCO 07 ----- */

.footer{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 65px;
}

#logo-footer img{
    animation: rotate 5s infinite linear;
}

.footer-logos {
    display: flex;
    align-items: center;

    margin-top: 40px;
}

.footer-logos p{
    color: #696969;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;

    margin-left: 4px;
}

#etty-studio-logo{
    width: 100px;
    height: 50px;

    margin-left: 6px;
}

#titulo-footer1 p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 116.667% */
}

#titulo-footer1 button{
    margin-top: 30px;
    padding: 3px 13px;
    border-radius: 4px;
    border: none;

    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

#footer-part2{
    display: flex;
}

#titulo-footer2{
    display: flex;
}

#titulo-footer2 p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 116.667% */
    text-transform: uppercase;
    
    padding-right: 14px;
}

#nav-footer{
    display: flex;
    margin-top: 16px;
}

#nav-footer ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

#nav-footer a {
    color: #696969;
    font-size: 12px;
    font-style: normal;
    font-weight: 650;
    text-decoration: none;
}

#nav-footer li{
    padding-bottom: 6px;
}

#nav-list1{
    margin-right: 32px;
}

#container-icons-footer {
    display: flex;
    margin-left: 50px;
}