/* ----- BODY ----- */
@font-face{
    font-family: 'GeneralSans';
    src: url(./fonte/GeneralSans-Variable.ttf) format('truetype');
}

*{
    font-family: 'GeneralSans';
    padding: 0;
    margin: 0;
}

body{
    background-color: #111111;
}
/* ----- BODY ----- */

/* ----- HEADER ----- */
.container {
        margin-left: 18%;
        margin-right: 18%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0.10rem;
        grid-row-gap: 0.10rem;    
}

#menu{
    color: white;
    text-align: right;

    margin-top: 75px;
}

#logo{
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#logo img{
    animation: rotate 5s infinite linear;
}

@keyframes rotate{
    to{transform: rotate(360deg)}
}

#menu ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

#menu li{
    display: inline-block;

    padding-left: 36px;
}

#menu-li01{
    font-weight: 700;
    line-height: 23.04px; /* 192% */
    letter-spacing: 0.432px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

#menu a{
    text-decoration: none;
    color: #FFF;
    text-align: right;
    font-size: 10px;
    font-style: normal;
    line-height: 23.04px; /* 177.231% */
    letter-spacing: 0.432px;
    text-transform: uppercase;
}
/* ----- HEADER ----- */

/* ----- BLOCO 01 ----- */
#bloco01 {
    margin-left: 18%;
    margin-right: 18%;

    text-align: center;
    margin-top: 28px;
}

#bloco01 h1{
    padding: 0;
    margin: 0;

    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 110.811% */
    text-transform: uppercase;
}

#bloco01 p{
    margin-top: 10px;

    color: #696969;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 114.286% */
}
/* ----- BLOCO 01 ----- */

/* ----- BLOCO 02 ----- */
#bloco02{
    margin-left: 18%;
    margin-right: 18%;

    text-align: center;
    margin-top: 120px;
    margin-bottom: 130px;
    padding: 0;
}

.titulos-blocos{
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 84.211% */
    text-transform: uppercase;
}

#seta-blocos{
    padding-left: 20px;

    width: 23px;
    height: 23px;
}

#projetos-bloco02{
    margin-top: 26px;
}

.container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0.10rem;
    grid-row-gap: 0.10rem;
}

.imagens-bloco02{
    padding: 0 8px;
    margin-top: 14px;
}

.infos-bloco02{
    text-align: start;
    margin-top: 14px;
    padding-left: 8px;
}

.infos-bloco02 h2{
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 150.588% */
}

.infos-bloco02 p{
    color: #696969;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px; /* 148.099% */

}

.subtitulos-blocos{
    margin-top: 20px;

    color: #FFF;
    text-align: center;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 110.811% */
    text-transform: uppercase;
}

.subtitulos-blocos img{
    margin-left: 30px;
}
/* ----- BLOCO 02 ----- */

/* ----- BLOCO 03 ----- */
#bloco03 {
    margin-left: 14%;
    margin-right: 14%;
}

.text-blocos{
    margin-top: 26px;

    color: #696969;
    text-align: center;
}

#topic02-bloco03{
    margin-top: 90px;
}

.background-container {
    width: auto;
    height: auto;
    padding: 80px 0px 68px 0px;
    background-color: #1b1b1b;
    border-radius: 18px;   

    background-image: url('./imagens/logo-bg.svg');
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-size: 780px;
    background-position-y: 120px;
    
}

.cards-container {
    margin-left: 8%;
    margin-right: 8%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
}

.cards-bloco03{
    background-color: #111111;
    margin-top: 90px;    
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 16px;
    
    padding-left: 30px;
    padding-right: 30px;
}

.cards-bloco03 h1{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

.cards-bloco03 p{
    color: #696969;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 157.377% */

    margin-top: 23px;
    margin-bottom: 24px;
}

.cards-bloco03 button{
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    border-style: none;

    padding: 5px 13px;
}
/* ----- BLOCO 03 ----- */

#foto-luiz {
    width: 470px;
}

.text-luiz{
    margin-top: 26px;
    margin-bottom: 12px;
    text-align: left;

    color: #4E4D4D;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 155.556% */

}

#seta-titulo{
    padding-right: 16px;

    width: 23px;
    height: 23px;
}

.titulo-luiz{
    text-align: left;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 8px; /* 84.211% */
    text-transform: uppercase;
}

.container-luiz {
    display: flex;
    margin-left: 20.1%;
    margin-right: 20.1%;

    padding: 0;
}

#information-luiz {
    margin-left: 55px;
}

.icon-luiz {
    padding: 2px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 28px;
    flex-shrink: 0;

    background-color: #282828;
    border-radius: 5px;

    margin-right: 10px;
    margin-top: 14px;
}

#container-icons {
    display: flex;
}

.icon-luiz img{
    width: 20px;
}

.icon-luiz a{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}